<!--
<span style="color: grey; font-size: small">&lt; Marco Molteni</span>
<a href="https://twitter.com/marcomolteni" class="icon-small"><i class="fa fa-twitter"></i></a>
<a href="https://www.linkedin.com/in/javaee/" class="icon-small"><i class="fa fa-linkedin"></i></a>
<a href="https://www.xing.com/profile/Marco_Molteni" class="icon-small"><i class="fa fa-xing"></i></a>
<span style="color: grey; font-size: small">&gt;</span>
-->
<a href="https://twitter.com/marcomolteni" class="twitter-follow-button" data-show-count="true">Follow @marcomolteni</a>
<script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
<span  style="color: grey; font-size: small;float: right">

 <!-- <a class="menu-link" href=""  target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a> |-->
</span>