<span style="color: grey; font-size: small">&lt; Marco Molteni</span>
<a href="https://twitter.com/marcomolteni" class="icon-small"><i class="fa fa-twitter"></i></a>
<a href="https://www.linkedin.com/in/javaee/" class="icon-small"><i class="fa fa-linkedin"></i></a>
<a href="https://www.xing.com/profile/Marco_Molteni" class="icon-small"><i class="fa fa-xing"></i></a>
<span style="color: grey; font-size: small">&gt;</span>
<span  style="color: grey; font-size: small;float: right">
 New Tutorials!!!
 <a class="menu-link" href="http://javademo.io"  target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Java EE - Angular Demo</a> |
 <a class="menu-link" href="/quotes/"><i class="fa fa-link" aria-hidden="true"></i> Reviewer's quotes</a>

</span>